os
googlesearch
pyttsx3
pyaudio
datetime
pywhatkit
7 - numpy
8 - [local] News_headlines 
9 - pypdf2
10 - wikipedia
11 - speech_recognition
12 - [local] jokes
13 - [local] Weather_fetcher
14 - PIL
15 - tkinter
16 - smtplib
17 - webbrowser
18 - time
