os
googlesearch
pyttsx3
pyaudio
datetime
pywhatkit
numpy
News_headlines 
pypdf2
wikipedia
11 - speech_recognition
12 - [local] jokes
13 - [local] Weather_fetcher
14 - PIL
15 - tkinter
16 - smtplib
17 - webbrowser
18 - time
